# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# dependencies
# misc
# production
# testing
*-debug.log
*-error.log
.DS_Store
.env.development.local
.env.local
.env.production.local
.env.test.local
.idea
.pnp.js
/.nyc_output
/.pnp
/build
/coverage
/dist
/lib
/node_modules
/package-lock.json
/tmp
bibliography.bib
node_modules
npm-debug.log*
paper-list.json
paper_list.json
settings.yml
venue-mapping.json
yarn-debug.log*
yarn-error.log*
*.js
*.js.map
*.d.ts
